.flashes h4 {
    line-height: 2;
}

/* All pages */
.base-bgcolor {
    background-color: #d7ccc8;
}

.base-bgcolor2 {
    background-color: white;
}

.base-color {
    color: white;
}

.base-color2 {
    color: #d7ccc8;
}

.sidenav li>a {
    color: white;
}

/* Background Image */
body {
    background-image: url("../images/justus_menke_unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}


/* Provide space between buttons */
.btn-small {
    margin: 3px;
}

.btn {
    margin: 5px;
}

/* Buttons hover */
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #a1887f;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* Push Task Manager to the right */
nav .brand-logo {
    padding-left: 10px;
}

/* Label Color for input fields */
.input-field label {
    color: white;
}

/* Color for placeholder */
.select-wrapper input.select-dropdown {
    color: white;
}

/* Color for dropdown */
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: white;
}

.dropdown-content li a, .dropdown-content li span {
    color: #a1887f;
}

/* Color for datepicker */
.datepicker-date-display {
    background-color: #a1887f;
}

.datepicker-calendar-container {
    color: white;
    background-color: #d7ccc8;
}

.datepicker-clear {
    color: #a1887f;
}

.datepicker-clear, .datepicker-today {
    color: white;
}

/* Margin for space between buttons */
.datepicker-cancel {
    color: #a1887f;
    background-color: white;
    margin: 5px;
}

.datepicker-done {
    color: white;
    background-color: #a1887f;
}

.datepicker-table td.is-selected {
    background-color: #a1887f;
}

.datepicker-table td.is-today {
    color: #795548;
}

.datepicker-table abbr {
    color: #a1887f;
}

.page-footer {
    background-color: #d7ccc8;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-top: 0px;
}

/* Error Pages */

.error-img {
    width: 50%;
    border-style: solid;
    margin-top: 20px;
}
.error-page h1 {
    font-size: 5em;
    color: white;
}
.error-page p {
    font-size: 1.5em;
    color: white;
} 

.error-page {
    text-align: center;
}

.link-color {
    color: sandybrown;
}