@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* All pages */

html {
    font-family: 'Roboto', sans-serif;
}

/* Background Color Of Header & Footer */
.base-bgcolor {
    background-color: #bcaaa4;
}

/* Text Color Of Header & Footer */
.base-color {
    color: white;
}

/* Reset, Edit and Delete buttons */
.base-bgcolor2 {
    background-color: #efebe9;
}

.base-color2 {
    color: #a1887f;
}

/* Sign In, Sign Out, Search and Done Buttons */
.base-bgcolor3 {
    background-color: #a1887f;
}

.base-color3 {
    color: #6d4c41;
}

/* Collabsible Navbar */
.sidenav li>a {
    color: white;
}

.collapsible {
    background-color: #a1887f;
}

/* Background Image */
body {
    background-image: url("../images/justus_menke_unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #d7ccc8;
}

/* All Tasks - search field */
.input-field .prefix.active {
    color: white;
}

input[type=text] {
    color: white;
}

.push_buttons {
    margin-left: 46px;
}

/* Create Task - Lever:after */
switch label input[type=checkbox]:checked+.lever:after {
    background-color: white;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: white;
    color: white;
}

/* Provide space between buttons */
.btn-small {
    margin: 3px;
}

.btn, .btn-large {
    margin: 3px;
}

/* Buttons hover */
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #d7ccc8;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* Push Task Manager to the right */
nav .brand-logo {
    padding-left: 10px;
}

/* Label Color for input fields */
.input-field label {
    color: white;
}

/* Color for placeholder */
.select-wrapper input.select-dropdown {
    color: white;
}

/* Color for dropdown */
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: white;
    background-color: #bcaaa4;
}

.dropdown-content li a, .dropdown-content li span {
    color: white;
    background-color: #d7ccc8;
}

/* Calender */
.datepicker-date-display {
    background-color: #bcaaa4;
}

.datepicker-calendar-container {
    color: white;
    background-color: #d7ccc8;
    padding-right: 5px;
}

.datepicker-clear {
    color: #a1887f;
}

.datepicker-clear, .datepicker-today {
    color: white;
}

.datepicker-cancel {
    color: #a1887f;
    background-color: white;
    margin: 5px;
}

.datepicker-done {
    color: white;
    background-color: #a1887f;
}

.datepicker-table td.is-selected {
    background-color: #a1887f;
}

.datepicker-table td.is-today {
    color: #795548;
}

.datepicker-table abbr {
    color: #a1887f;
}

.page-footer {
    bottom: 0;
    width: 100%;
    padding-top: 0px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

/* Flash Messages */
#flash-box {
    background-color: #bcaaa4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

/* Error Pages */

.error-img {
    width: 50%;
    border-style: solid;
    margin-top: 20px;
}
.error-page h1 {
    font-size: 5em;
    color: white;
}
.error-page p {
    font-size: 1.5em;
    color: white;
} 

.error-page {
    text-align: center;
}

.link-color {
    color: sandybrown;
}