{% extends "base.html" %}
{% block content %}

    <h3 class="base-color center-align">Sign In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_in') }}">
            <div class="card-panel base-bgcolor">
                <!-- Username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fa-solid fa-user prefix base-color"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- Passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fa-solid fa-user-lock prefix base-color"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Sign In -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large base-bgcolor3">
                        Sign In <i class="fa-solid fa-right-to-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align base-color">
                New Here?
                <a href="{{ url_for('sign_up') }}" class="base-color"><i class="fa-solid fa-arrow-right"></i> Sign Up</a>
            </p>
        </div>
    </div>

{% endblock %}